.center-img
  %ul{:class => "thumbnails"}
    - toy_types.each do |toy_type|
      %li
        %a{:class => "thumbnail", :href => "toys/#{ toy_type[:name] }"}
          %img{:class => "index-thumb", :src => "images/#{ toy_type[:img] }"}
