%html{html_attrs}
  %head
    %title Toy Tracker v1.0

    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Toy Tracker
    %link{:href=>'/stylesheets/bootstrap.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/docs.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/toy_tracker.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two', :rel=>'stylesheet', :type=>'text/css'}
    %script{:type => "text/javascript", :src => "/javascripts/toy_tracker.js"}

%body
  %header{:class=>"jumbotron subhead"}
    .container
      %h1
        Toy Tracker
  %hr
  .container-fluid
    = yield
