.well
  %form
    %label 
      Name:
      %input{:type => "text", :id => "toy-name"}

%table{:class => "table table-striped table-bordered table-hover"}
  %thead
    %th Name
    %th Material
    %th Talking?
    %th Size
  - @toys.each do |toy|
    %tr
      %td= toy[:name]
      %td= toy[:material]
      %td= toy[:talking]
      %td= toy[:size]
